.timetable {
    margin: 10px;
    display: flex;
    max-width: 100%;
    overflow: auto;
}

table, th, td {
    border:1px solid black;
}


td, th {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1px;
}


.table-container {
    width: 76px;
    height: 46px;
    max-width: 76px;
    max-height: 46px;
    border-collapse:initial;
    border-spacing: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container-header {
    width: 98px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable-container {
    position: relative; 
    overflow: auto;
}

.overlay-div {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}